
.icon-left {
    position: absolute;
    top: 30px;
    left: 30px;
}

.icon-right {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.season-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.season-display.winter i {
    color: blue;
}

.season-display.summer i {
    color: red;
}

.winter {
    background-color: aliceblue;
    border-radius: 5px;
}

.summer {
    background-color: orange;
    border-radius: 5px;
}

.border-red {
    margin: 15px;
}